### C++ build artifacts. The entries that follow are copied from the Stagehand .gitignore file into the one in the cpp/ subdirectory of the project.
bin/
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os
*.spv
# Precompiled Headers
*.gch
*.pch
# Linker files
*.ilk
# Debugger Files
*.pdb
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
# debug information files
*.dwo
### End of C++ build artifacts section
